<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container text-center"> 

<h1>  
  Welcome to Password Generator 
</h1>

<form class="form-group " action="{% url 'password' %}">


    <select  name="length">
 
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12" selected="selected">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>

    </select>  Length
<br/>
<input type="checkbox" name="uppercase" > Uppercase 
<br>  
<input type="checkbox" name="numbers" > Numbers 
<br> 
<input type="checkbox" name="special" > Special Characters 
<br>

<input type="submit" class="btn btn-primary" value="Generate Password">

</form>

</div>
<a class="btn btn-warning" href="{% url 'about' %}">About Page</a> 